#Gradle
.gradle
build/

#IntelliJ IDEA
.idea
*.iml

#Test results
.kotlintest/
out/

#Test bank statements and categories
src/test/resources/**/*.csv
src/test/resources/**/*.txt

#Real bank statements and categories
src/main/resources/**/*.csv
src/main/resources/**/*.txt

#Mac
.DS_Store
